* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --txt-clr: #e7e7d3;
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
    font-family: Raleway_a;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: Raleway_a;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    background-color: #010101;
    font-family: Raleway_a, sans-serif;
    line-height: 1.55;
}

.container {
    will-change: transform;
}

.main-header {
    position: relative;
}

.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}

.main-header .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header .layers .layers__header {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    transition: var(--transition);
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: calc(var(--index) / -.75);
    color: var(--txt-clr);
    text-shadow: 0 0 15px #9e7d35;
}

.main-header .layers .layers__header .layers__caption {
    font-size: calc(var(--index) / 1.2);
    letter-spacing: calc(var(--index) / 3.5);
}

.main-header .layers .layers__header .layers__title {
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
}

.main-header .layers .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transition: var(--transition);
    z-index: 2;
}

.main-header .layers .layer.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}

.main-header .layers .layer.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.main-header .layers .layer.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.main-dungeon {
    --main-dungeon-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    
    position: relative;
    z-index: 3;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--txt-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-dungeon .main-dungeon__content .main-dungeon__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    transform: var(--main-dungeon-transform);
    transition: var(--transition);
    will-change: transform;
}

.main-dungeon .main-dungeon__content .main-dungeon__paragraph {
    max-width: calc(var(--index) * 30);
    margin-top: calc(var(--index) * 1.25);
    font-size: calc(var(--index) * .9);
    transform: var(--main-dungeon-transform);
    transition: var(--transition);
    will-change: transform;
}

.main-dungeon .copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}